<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-select cancelText="Cancel" interface="action-sheet" placeholder="Select a question">
        @for (ques of secQuestions; track ques) {
        <ion-select-option value="{{ques.questionCd}}">{{ques.question}}</ion-select-option>
        }
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>